<article class="container text-gray-700 mx-auto p-6 mt-2 space-y-6">
  <h1 class="text-4xl font-bold">About Megali</h1>

  <section class="space-y-2">
    <h2 class="text-2xl font-semibold">Who we are</h2>
    <p>
      Megali is a leading provider of software and data engineering services,
      committed to driving innovation in the digital landscape. As a trusted
      partner for startups and enterprises alike, we specialize in transforming
      business ideas into robust and scalable data-products. Our services are
      designed to uphold the highest software quality standards, delivering
      unparalleled value to our clients.
    </p>
  </section>

  <section class="space-y-2">
    <h2 class="text-2xl font-semibold">Our Expert Team</h2>
    <p>
      At the heart of Megali lies a team of seasoned professionals with
      extensive experience in the realm of software development and data
      engineering. Our team's proficiency in leveraging cutting-edge
      technologies enables us to provide custom-built, evidence-based solutions
      that fuel business growth. Our team's seniority and expertise is reflected
      in the innovative solutions we deliver, setting us apart in the
      competitive digital landscape.
    </p>
  </section>

  <section class="space-y-2">
    <h2 class="text-2xl font-semibold">Our Flexible Services</h2>
    <p>
      Understanding that every business has unique needs, we offer a suite of
      flexible services designed to adapt to various requirements and budgets.
      From ideation to execution, our solutions are designed with the utmost
      flexibility to ensure we provide the perfect fit for your specific needs.
      This flexibility, combined with our commitment to timely delivery, enables
      us to provide a seamless and rewarding experience for our clients.
    </p>
  </section>

  <section class="space-y-2">
    <h2 class="text-2xl font-semibold">Delivering Value</h2>
    <p>
      At Megali, we take pride in exceeding our clients' expectations. Our track
      record includes successful partnerships with over 50 agencies and
      organizations, to whom we have delivered solutions that perfectly align
      with their needs and budget. With a keen focus on client satisfaction, we
      strive to deliver value that extends far beyond the initial delivery,
      fostering long-term partnerships based on trust, quality, and
      satisfaction.
    </p>
  </section>

  <section class="space-y-2">
    <h2 class="text-2xl font-semibold">Let's cooperate!</h2>
    <p>
      Sounds good? Get in touch! We'd love to hear from your project and help!
    </p>
    <div class="mt-3">
      <a
        class="btn btn-primary underline text-xl"
        href="https://wa.me/+5537998767196?text=Hello%20Megali%20Software!"
      >
        Contact us →
      </a>
    </div>
  </section>
</article>
