<!-- Beauty -->
<section class="text-gray-700 body-font hidden xl:block">
  <div class="flex flex-col items-center mx-auto my-24">
    <div class="text-gray-800 text-center">
      <h2 class="text-5xl font-serif">
        <span
          style="
            background-image: linear-gradient(
              -100deg,
              rgba(255, 241, 192, 0.15),
              rgba(255, 241, 192, 0.8) 100%,
              rgba(255, 241, 192, 0.25)
            );
            text-shadow: rgb(255, 255, 255) 1px 1px 1px;
            border-radius: 1em 0px;
          "
        >
          Beauty
        </span>
        <span>Matters!</span>
      </h2>
      <p class="mt-4 font-mono text-sm font-semibold">
        Your brand looking at its best, on any screen size.
      </p>
    </div>

    <div class="relative min-h-[640px] w-[1380px] max-w-full mx-auto">
      <div class="laptop-iframe-wrapper">
        <iframe
          src="/beauty.html"
          frameborder="0"
          class="laptop-iframe"
          title="Beauty-laptop"
        ></iframe>
        <div class="laptop-iframe-base"></div>
      </div>
      <div class="tablet-iframe-wrapper">
        <iframe
          src="/beauty.html"
          frameborder="0"
          class="tablet-iframe"
          title="Beauty-tablet"
        ></iframe>
      </div>
      <div class="phone-iframe-wrapper">
        <iframe
          src="/beauty.html"
          frameborder="0"
          class="phone-iframe"
          title="Beauty-phone"
        ></iframe>
      </div>
    </div>
  </div>
</section>
