<!-- Footer -->
<footer class="text-gray-50">
  <div class="flex flex-col mt-16 md:mt-24">
    <!-- First row -->
    <div class="bg-green-950 px-8 md:px-16 py-20 flex flex-col md:flex-row justify-between">
      <!-- First column -->
      <div class="flex-grow">
        <!-- Logo + Company name -->
        <div class="flex items-center">
          <a href="/" class="inline-flex items-baseline">
            <img
            width="28"
            height="28"
            class="h-7 w-auto"
            src="static/imgs/logo-megali.svg"
            alt="Megali Logo"
            style="filter: invert(100%)"
            />
            <div class="text-5xl font-dm-sans">Megali</div>
          </a>
        </div>
        <p class="mt-8 mb-16 font-medium text-md">
        Professional solutions tailored to your needs.
        </p>
        <a
          href="mailto:hello@megali.dev"
          class="font-medium font-serif text-4xl"
          target="_blank"
          rel="noopener noreferrer"
          >
          hello@megali.dev
        </a>
      </div>

      <!-- Second column -->
      <div class="flex gap-6 mt-8 md:mt-0">
        <a
          href="https://linkedin.com/company/megalisoftware"
          target="_blank"
          rel="noopener noreferrer"
          >
          <img
          width="32"
          height="32"
          src="static/imgs/social/linkedin.svg"
          alt="linkedin"
          style="filter: invert(100%)"
          />
        </a>
          <a
            href="https://twitter.com/Megali03187280"
            target="_blank"
            rel="noopener noreferrer"
            >
            <img
            width="32"
            height="32"
            src="static/imgs/social/twitter.svg"
            alt="twitter"
            style="filter: invert(100%)"
            />
          </a>
            <a
              href="https://www.instagram.com/megali_software/"
              target="_blank"
              rel="noopener noreferrer"
              >
              <img
              width="32"
              height="32"
              src="static/imgs/social/instagram.svg"
              alt="instagram"
              style="filter: invert(100%)"
              />
            </a>
              <a
                href="https://www.facebook.com/Megali-101111504995724"
                target="_blank"
                rel="noopener noreferrer"
                >
                <img
                width="32"
                height="32"
                src="static/imgs/social/facebook.svg"
                alt="facebook"
                style="filter: invert(100%)"
                />
              </a>
      </div>
    </div>

    <!-- Second row -->
    <div class="bg-black px-8 py-6 font-mono font-medium flex gap-4 flex-wrap items-center">
      <a href="/">2023, Megali ©</a>
      <span>|</span>
      <a href="tel:+5537998767196">+55 (37) 99876-7196</a>
      <span>|</span>
      <a
        href="https://goo.gl/maps/FCQuVovCGz2Ws8Lt5"
        target="_blank"
        rel="noopener noreferrer"
        >Guarapari - Brazil</a>
      <span>|</span>
      <a href="/terms.html">Terms</a>
      <span>|</span>
      <a href="/privacy.html">Privacy</a>
    </div>
  </div>
</footer>
