<!-- Hero -->
<section class="text-gray-700 body-font">
  <div
    class="flex px-5 py-24 flex-col items-center md:flex-row"
    >
    <!-- Hero content -->
    <div
      class="flex flex-col items-center text-center md:ml-16 lg:mt-10 md:items-start md:text-left md:flex-grow xl:mt-16 2xl:mt-28"
      >
      <!-- Subheading -->
      <p class="leading-relaxed mb-4 text-lg sm:text-xl font-dm-sans font-medium">
      Evidence Based Solutions
      </p>

      <!-- Main heading -->
      <h1
        class="title-font text-4xl md:text-5xl font-dm-serif font-medium text-gray-950 mb-12 max-w-lg lg:max-w-2xl"
        >
        Supporting <span id="typewriter">Partners</span>
        </br> With Custom Built Solutions
      </h1>

      <!-- CTA Buttons -->
      <div class="flex justify-center flex-wrap gap-3 max-w-sm md:max-w-2xl">
        <a
          href="https://wa.me/+5537998767196?text=Hello%20Megali%20Software!"
          target="_blank"
          rel="noopener noreferrer"
          class="text-white bg-gray-900 border border-transparent py-4 px-16 xl:px-24 focus:outline-none hover:bg-gray-800 shadow hover:shadow-lg text-lg transition w-full md:w-fit"
          >
          Request a quote
        </a>

          <a
            href="/about.html"
            class="text-black bg-white border border-gray-300 py-4 px-16 xl:px-24 focus:outline-none hover:bg-gray-100 text-lg transition w-full md:w-fit"
            >
            About Megali
          </a>
      </div>
    </div>

    <!-- Hero animation -->
    <div class="absolute -top-32 lg:-top-16 right-0 -z-10 overflow-hidden hidden md:block md:w-full lg:max-w-7xl">
      <dotlottie-player
        src="static/lottie/hero.lottie"
        background="transparent"
        mode="normal"
        speed="0.4"
        loop
        autoplay
        style="width: 2400px; height: 1000px; margin-top: -48px; margin-left: -256px"
        />
    </div>
  </div>
</section>
