<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Megali Software is a software development agency, proding services in web development, data gathering and analysis and machine learning."
/>
<meta
  name="keywords"
  content="Software Development, Machine Learning, Data Gathering, Web Development, Software Development Agency"
/>
<meta name="author" content="Fernando Canteruccio" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="icon" type="image/x-icon" href="static/imgs/favicon.ico">
<link rel="canonical" href="https://megali.dev" />
<title>
  Megali Software - Custom software development suited for you needs
</title>
