<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Megali Software is a software development agency, providing services in web development, data gathering, analysis and machine learning."
/>
<meta
  name="keywords"
  content="Software Development, Machine Learning, Data Gathering, Web Development, Software Development Agency"
/>
<meta itemprop="name" content="Megali Software" />
<meta name="author" content="Fernando Canteruccio" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="icon" type="image/x-icon" href="static/imgs/favicon.ico" />
<link rel="canonical" href="https://megali.dev" />

<meta
  property="og:title"
  content="Megali Software - Tailored Software Development Solutions for Your Unique Needs"
/>
<meta
  property="og:description"
  content="Megali Software is a software development agency, providing services in web development, data gathering, analysis and machine learning."
/>
<meta
  property="og:image"
  content="https://megali.dev/static/imgs/logo192.png"
/>
<meta property="og:url" content="https://megali.dev/index.html" />
<meta property="og:site_name" content="Megali Software" />
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@Megali03187280" />
<meta name="twitter:title" content="Megali Software" />
<meta
  name="twitter:description"
  content="Megali Software is a software development agency, providing services in web development, data gathering, analysis and machine learning."
/>
<meta
  name="twitter:image"
  content="https://megali.dev/static/imgs/logo192.png"
/>
