<!-- NavBar -->
<header class="bg-white shadow-light sticky top-0 z-50">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8">
    <nav class="flex items-center justify-between h-16">
      <!-- Logo + Company name -->
      <div class="flex items-center">
        <a href="/" class="inline-flex items-baseline">
          <img
            width="28"
            height="28"
            class="h-5 w-auto md:h-7"
            src="static/imgs/logo-megali.svg"
            alt="Megali Logo"
          />
          <div class="text-4xl text-gray-950 md:text-5xl font-dm-sans">Megali</div>
        </a>
      </div>

      <!-- CTA Button -->
      <div>
        <a
          href="https://wa.me/+5537998767196?text=Hello%20Megali%20Software!"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center px-6 py-2 border border-transparent text-base font-medium shadow text-white bg-gray-900 hover:bg-gray-800 hover:shadow-lg transition"
        >
          Work with us
        </a>
      </div>
    </nav>
  </div>
</header>
