<!-- Partners -->
<section class="text-gray-700 body-font">
  <div
    class="mx-6 md:mx-16 md:mt-6 bg-white shadow-light py-6 px-8 md:px-12 lg:px-16 xl:px-24"
  >
    <div
      class="flex flex-wrap items-center justify-center gap-x-4 md:gap-x-10 lg:gap-x-16 gap-y-4 lg:gap-y-6 xl:gap-y-8 w-full"
    >
      <img
        width="111"
        height="27"
        src="static/imgs/partners/0.svg"
        alt="streamline"
        class="max-h-10"
      />
      <img
        width="131"
        height="34"
        src="static/imgs/partners/1.svg"
        alt="cardinal group"
        class="max-h-10"
      />
      <img
        width="149"
        height="27"
        src="static/imgs/partners/2.svg"
        alt="cci"
        class="max-h-10"
      />
      <img
        width="91"
        height="22"
        src="static/imgs/partners/3.svg"
        alt="physicians thrive"
        class="max-h-10"
      />
      <img
        width="91"
        height="40"
        src="static/imgs/partners/4.svg"
        alt="ddd"
        class="max-h-10"
      />
      <img
        width="96"
        height="24"
        src="static/imgs/partners/5.svg"
        alt="echo tape"
        class="max-h-10"
      />
      <img
        width="66"
        height="40"
        src="static/imgs/partners/6.svg"
        alt="brevite"
        class="max-h-10"
      />
      <img
        width="84"
        height="38"
        src="static/imgs/partners/7.svg"
        alt="4rivers"
        class="max-h-10"
      />
      <img
        width="102"
        height="22"
        src="static/imgs/partners/8.svg"
        alt="gigworker"
        class="max-h-10"
      />
      <img
        width="57"
        height="40"
        src="static/imgs/partners/9.svg"
        alt="tsr"
        class="max-h-10"
      />
      <img
        width="94"
        height="28"
        src="static/imgs/partners/10.svg"
        alt="ironworks"
        class="max-h-10"
      />
      <img
        width="61"
        height="40"
        src="static/imgs/partners/11.svg"
        alt="john deere"
        class="max-h-10"
      />
    </div>
    <div class="mt-8 flex justify-center items-baseline flex-wrap w-full gap-4">
      <span class="text-center font-bold">
        Supporting 50+ partners and agencies
      </span>
      <a href="/about.html" class="text-center text-xs text-green-800">
        About us →
      </a>
    </div>
  </div>
</section>
