<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Megali Software",
    "description": "Software development, management & curation, suited for your needs.",
    "url": "https://megali.dev",
    "contactPoint": {
      "@type": "ContactPoint",
      "email": "hello@megali.dev",
      "telephone": "+55 (37) 99876-7196",
      "contactType": "customer support",
      "areaServed": "Worldwide",
      "availableLanguage": "English"
    },
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Guarapari",
      "addressCountry": "Brazil"
    },
    "sameAs": [
      "https://linkedin.com/company/megalisoftware",
      "https://twitter.com/Megali03187280",
      "https://www.instagram.com/megali_software/",
      "https://www.facebook.com/Megali-101111504995724"
    ],
    "owns": [
      {
        "@type": "SoftwareApplication",
        "name": "Megali Dev",
        "applicationCategory": "BusinessApplication",
        "description": "Custom application development, timely delivery, fit for your budget"
      },
      {
        "@type": "SoftwareApplication",
        "name": "Megali Management",
        "applicationCategory": "BusinessApplication",
        "description": "Team management and leadership, by humans to humans"
      },
      {
        "@type": "SoftwareApplication",
        "name": "Megali Curate",
        "applicationCategory": "BusinessApplication",
        "description": "Detail-oriented software rescue and curation"
      },
      {
        "@type": "SoftwareApplication",
        "name": "Megali Track",
        "applicationCategory": "BusinessApplication",
        "description": "Property monitoring and data gathering in real-time"
      },
      {
        "@type": "SoftwareApplication",
        "name": "Megali ML",
        "applicationCategory": "BusinessApplication",
        "description": "Machine learning and simulations at scale"
      },
      {
        "@type": "SoftwareApplication",
        "name": "Megali Act",
        "applicationCategory": "BusinessApplication",
        "description": "Intelligent agents and response automation to arbitrary events"
      }
    ]
  }
</script>
