<div class="flex items-center gap-4 my-8">
  <img
    src="/static/imgs/logo192.png"
    alt="Megali Software"
    class="rounded-full w-10 !m-0"
  />
  <div class="flex flex-col gap-1 justify-center">
    <span class="text-[1.1rem] font-medium leading-5">
      Fernando Canteruccio
    </span>
    <div class="leading-3 text-gray-500 font-medium">
      <span class="text-sm">Principal Engineer @ Megali</span>
      <div class="md:inline-block">
        <span class="text-xs hidden md:inline-block"> · </span>
        <span class="text-sm">5 min read</span>
        <span class="text-xs"> · </span>
        <span class="text-sm">July 23</span>
      </div>
    </div>
  </div>
</div>
