<div class="bg-gray-100">
  <div class="container py-16 mx-auto">
    <div class="max-w-[743px] px-4 mx-auto">
      <img
        src="/static/imgs/logo192.png"
        alt="Megali Software"
        class="rounded-full w-14 !m-0"
      />
      <div class="mt-5 flex justify-between items-center">
        <div class="flex flex-col">
          <span class="font-semibold text-xl font-dm-sans">Written by Fernando Canteruccio</span>
          <span class="text-gray-600 text-sm mt-2">Principal Engineer @ Megali</span>
        </div>
        <a
          href="mailto:fernando@megali.dev"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center gap-2 px-3 py-2 border border-transparent text-base font-medium text-white bg-gray-900 hover:bg-gray-800 shadow hover:shadow-lg transition rounded-full min-w-fit"
        >
          <span class="text-xs lg:text-sm">Contact me</span>
        </a>
      </div>
      <div class="flex flex-col">
        <span class="text-gray-900 text-sm mt-4 max-w-md">Helping partners to achieve their full potential. Optimist. Developer of appz. Wearer of many hats.</span>
      </div>
    </div>
  </div>
</div>
